<nav class="mt-4">
    <ul class="pagination justify-content-center">
        {% if current_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ current_page|add:-1 }}">Previous</a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">Page {{ current_page }} of {{ total_pages }}</span>
        </li>

        {% if current_page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ current_page|add:1 }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ total_pages }}">Last</a>
            </li>
        {% endif %}
    </ul>
</nav>




   <!-- Custom Pagination -->
{#    <nav class="mt-3">#}
{#        <ul class="pagination justify-content-center">#}
{#            {% if current_page > 1 %}#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="?page=1{% if completed %}&completed={{ completed }}{% endif %}">First</a>#}
{#                </li>#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="?page={{ current_page|add:-1 }}{% if completed %}&completed={{ completed }}{% endif %}">Previous</a>#}
{#                </li>#}
{#            {% endif %}#}
{##}
{#            <li class="page-item disabled">#}
{#                <span class="page-link">Page {{ current_page }} of {{ total_pages }}</span>#}
{#            </li>#}
{##}
{#            {% if current_page < total_pages %}#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="?page={{ current_page|add:1 }}{% if completed %}&completed={{ completed }}{% endif %}">Next</a>#}
{#                </li>#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="?page={{ total_pages }}{% if completed %}&completed={{ completed }}{% endif %}">Last</a>#}
{#                </li>#}
{#            {% endif %}#}
{#        </ul>#}
{#    </nav>#}
{#</div>#}
